[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
bcrypt = "*"
uvicorn = "*"
pyjwt = "*"
python-multipart = "*"
passlib = "*"
stripe = "*"
python-dotenv = "*"
transformers = "*"
tensorflow-cpu = "*"
nltk = "*"
textblob = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
